html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Bebas Neue', sans-serif;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #fff;
    position: relative;
}

.header {
    background-color: #ffffff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.header__logo a {
    color: #f3af9d;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.header__logo a span {
    color: #e8603c;
    font-weight: 700;
}

.header__menu li+li {
    margin-left: 28px;
}

.header__menu a {
    color: #b9b9b9;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.header__menu a span {
    color: #e8663c;
}

.slider {
    height: 61px;
    background-color: #f2ae9c;
    margin-bottom: 515px;
}

.slider__item {
    background-image: url(../images/slider-img.jpg);
    min-height: 401px;
    min-width: 940px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__item-text {
    width: 413px;
    margin-top: 245px;
    margin-left: 36px;
    background-color: rgba(240, 172, 154, 0.8);
    position: absolute;
}

.slider__item-textone {
    font-size: 18px;
    color: #fff;
    padding-top: 22px;
    padding-left: 19px;
    padding-bottom: 20px;
}

.slider__item-textsecond {
    font-size: 12px;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    padding-left: 19px;
    padding-bottom: 20px;
}

.slider__nav {
    margin-top: 16px;
}

.slider__nav .slick-slide {
    width: 140px !important;
    margin-right: 20px;
}

.slider__nav .slick-slide:last-child {
    margin-right: 0;
}

.slider__nav-img-container {
    height: 125px;
}

.slick-prev:before, .slick-next:before {
    content: none;
}

.slick-prev {
    background-image: url(../images/arrows/left_arrow.png);
    width: 36px;
    height: 52px;
    top: 183px;
    left: 36px;
    position: absolute;
}

.slick-next {
    background-image: url(../images/arrows/right_arrow.png);
    width: 36px;
    height: 52px;
    top: 183px;
    right: 36px;
    position: absolute;
}

.items__inner {
    display: flex;
    justify-content: space-between;
}

.item {
    max-width: 300px;
}

.item__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 38px;
    padding-left: 70px;
    position: relative;
    width: 240px;
    color: #e8663c;
}

.item__icons {
    position: absolute;
    top: 0;
    left: 0;
}

.item__text {
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #414141;
    margin-bottom: 22px;
}

.more {
    height: 31px;
    width: 56px;
    background-color: #e8663c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.works__inner-title {
    font-size: 18px;
    color: #e8603c;
    margin-bottom: 25px;
}

.works__inner-title::after {
    content: "";
    position: absolute;
    background-image: url(../images/works/Line.png);
    width: 805px;
    height: 19px;
    left: 144px;
}

.works__inner-works {
    display: flex;
    justify-content: space-between;
}

.works__inner-work-text {
    margin-top: -5px;
    padding: 13px 0 13px 13px;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.works__inner-work-title {
    font-size: 16px;
    line-height: 18px;
    color: #b9b9b9;
}

.works__inner-work-date {
    font-size: 11px;
    line-height: 18px;
    color: #e8663c;
}

.works {
    margin-bottom: 50px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    background-color: #e8663c;
    padding: 40px 40px 35px 35px;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
}

.footer {
    background-color: #f2ae9c;
}

.footer__title {
    margin-bottom: 27px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.footer__text-one {
    margin-bottom: 17px;
}

.footer__item-about {
    width: 265px;
}

.footer__item-twitter {
    width: 225px;
}

.footer__item-twitter span{
    color: #f3b29d;
}

.footer__about-one{
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer__about-two{
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer__item-contact {
    width: 260px;
}

.footer__item-contact a {
    color: #fff;
    margin-bottom: 20px;
}

.footer_social li{
    margin-right: 3px;
}