html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    /* background-color: #f0ac9a; */
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #fff;
    position: relative;
}

.header {
    background-color: #ffffff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.header__logo a {
    color: #f3af9d;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.header__logo a span {
    color: #e8603c;
    font-weight: 700;
}

.header__menu li+li {
    margin-left: 28px;
}

.header__menu a {
    color: #b9b9b9;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.header__menu a span {
    color: #e8663c;
}

.slider {
    display: flex;
    height: 61px;
    background-color: #f0ac9a;
    
}

.slider__item {
    background-image: url(../images/slider-img.jpg);
    min-height: 401px;
    min-width: 940px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.slider__item-text {
    width: 413px;
    margin-top: 245px;
    margin-left: 36px;
    background-color: rgba(240, 172, 154, 0.8);
    position: absolute;
}

.slider__item-textone {
    font-size: 18px;
    color: #fff;
    padding-top: 22px;
    padding-left: 19px;
    padding-bottom: 20px;
}

.slider__item-textsecond {
    font-size: 12px;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    padding-left: 19px;
    padding-bottom: 20px;
}

.slider__nav {
    margin-top: 16px;
}

.slider__nav .slick-slide {
    width: 140px !important;
    margin-right: 20px;
}

.slider__nav .slick-slide:last-child {
    margin-right: 0;
}

.slider__nav-img-container {
    height: 125px;
}

.slick-prev{
    background-image: url(../images/left_arrow.png);
    width: 36px;
    height: 52px;
    top: 183px;
    left: 36px;
    position: absolute;
}

.slick-next{
    background-image: url(../images/right_arrow.png);
    width: 36px;
    height: 52px;
    top: 183px;
    right: 36px;
    position: absolute;
}

.slick-prev:before, .slick-next:before {
    content: none;
}



button {
    
}