html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: #000;
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    display: inline-block;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background-color: #f9f9f9;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.header__logo a {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #f3af9d;
}

.header__logo a span {
    color: #e8603c;
}

.header__menu li+li{
    margin-left: 28px;
}

.header__menu a{
    font-size: 16px;
    line-height: auto;  
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    color: #b9b9b9;
}

.header__menu a:hover{
    color: #e8663c;
}

