* {
    box-sizing: border-box;
}

body {
    height: 5000px;
}

.wrapper {
    width: 700px;
    height: 700px;
    background-color: #ccc;
    position: relative;
}

.item {
    width: 150px;
    height: 150px;
    background-color: green;
    position: absolute;
    left: 500px;
    top: 500px;
    z-index: 3;
}

.box {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 100px;
    bottom: 150px;
    z-index: 2;
}

.test {
    width: 200px;
    height: 200px;
    background-color: blue;
    bottom: 200px;
    right: 200px;
    position: absolute;
    z-index: 1;
}

.text {
    position: relative;
}

.text::after {
    content: '8';
    position: absolute;
    top: -10px;
}