@media (max-width:960px){
    .header__menu-btn{
        display: block;
    }
    .header__menu ul{
        display: none;
        position: absolute;
        z-index: 2;
        top: 120px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
    }
    .header__menu li{
        display: block;
        text-align: center;
    }
    .header__menu li + li{
        margin-left: 0;
    }
    .header__drop-down.drop-down{
        margin-left: 0;
    }
    .header__drop-down.drop-down+.header__drop-down.drop-down{
        margin-left: 0;
    }
    .header__drop-down.drop-down+.header__link-blog{
        margin-left: 0;
    }
    .header__menu a{
    padding: 12px 0 12px 11px;
    font-weight: 400;
    display: block;
    text-transform: none;
    }
}